Source: libnet-ldapapi-perl
Section: perl
Priority: extra
Build-Depends: perl (>= 5.8.0-7), debhelper (>= 4.0.2), libldap2-dev, libsasl2-dev
Maintainer: Quanah Gibson-Mount <quanah@stanford.edu>
Uploaders: Russ Allbery <rra@stanford.edu>
Standards-Version: 3.6.2

Package: libnet-ldapapi-perl
Architecture: any
Depends: ${perl:Depends}, ${misc:Depends}, libldap2
Description:  A C API interface to LDAP servers
 The Net-LDAPapi perl module use the OpenLDAP C API or Mozilla C SDK
 to provide an fast and robust interface to LDAP servers.
